@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic);

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    height: 100%;
}

p {
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

.body {
    position: relative;
    background: #0090b4;    
}

.navigation {
    position: relative;
}

.navigation__description, .navigation__date {
    text-align: center;
    padding: 2px 0;
    background: #0090b4;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

.navigation-button {
    position: absolute;
    top: 0;
    bottom: 3px;
    text-align: center;
    border: none;
    outline: none;
    color: #fff;
    background: #e44818;
}

.navigation-button--current {
    right: 0;
    width: 90px;
}

.navigation-button--prev {
    width: 45px;
    left: 0;
}

.navigation-button--next {
    width: 44px;
    left: 45px;
    border-left: 1px solid #fff; 
}

.navigation__page-loader {
    height: 3px;
    background: #fff;
}

.timetable {
    list-style: none;
    padding: 0;
    margin: 0;
}

.timetable__item {
    background: #fff;
    border-radius: 6px;
    margin: 2px;
    padding: 3px;
    box-shadow: 0px 0px 5px 1px rgba(82,82,82,0.84);
}

.timetable__item:before,
.timetable__item:after {
   content: "";
   display: table;
}

.timetable__item:after {
   clear: both;
}

.timetable__day {
    box-shadow: inset 0px 0px 2px 1px rgba(82,82,82,0.84);
    width: 47px;
    padding: 5px;
    text-align: center;
    background: #fff;
    float: left;
    border-radius: 6px;
    margin: 2px;
    font-weight: bold;
}

.timetable__time {
    color: crimson;
    font-size: 13px;
}
    
.timetable__weight {
    float: left;
    text-align: right;
    width: 44px;
    border-left: 1px solid #fff;
    padding-right: 20px;
}

.timetable__exercises {
    float: left;
    width: 140px;
}

.timetable__food-menu {
    float: left;
    width: 65px;
    border-left: 1px solid #fff;
}

.footer {
    background: #fff;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}